:root {
    --main-color: rgb(201, 0, 0);
    --bgcolor: #252525;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: var(--bgcolor);
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
#page-title {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}