#movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}
.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 162px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.movie-item p {
    text-align: center;
}