.navbar {
    display: flex;
    width: 100%;
    background-color: var(--main-color);
    height: 50px;
    align-items: center;
}
#navbar-items{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-item {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding: 0 50px;
}

.navbar-item:hover {
    background-color: rgb(221, 0, 0);
}

#idioma {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#box-idioma select,
#box-idioma select option {
    color: black;
}

#box-idioma{
    width: fit-content;
}

#navbar-profileIcon{
    padding: 10px;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
}

#navbar-profileIcon:hover{
    background-color: rgb(221, 0, 0);
}

#user-profile-box{
    display: none;
    position: absolute;
    right: 108px;
    top: 60px;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: display 0.5s ease-in-out;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        right: 0;
        opacity: 0.5;
    }
  
    to {
      right: 108px;
      opacity: 1;
    }
  }

.user-profile-box-item{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 550;
}

.user-profile-box-item:hover{
    background-color: rgb(221, 0, 0);
    
}

@media (max-width: 670px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }
    #navbar-items{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    #navbar-profileIcon{
        margin: 0;
    }

    .navbar-item {
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    #idioma{
        padding: 5px;
        text-align: center;
    }
}