.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--main-color);
    height: 50px;
}
.navbar-item{
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    padding: 0 5px;
}
.navbar-item:hover{
    background-color: rgb(221, 0, 0);
}

#box-idioma select,
#box-idioma select option {
    color: black;
}